
{% if form.errors %}
    <h4>Los datos de autenticación no corresponden. Trata nuevamente.</h4>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
      <h4>Tu cuenta no tiene acceso a este recurso.</h4>
      <p>Debes tener los privilegios, contacta al administrador.</p>
      {% else %}
      <p>Usted trató de entrar a una página protegida y aún no está autenticado.</p>
      {% endif %}
    {% endif %}

   
               

         
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
     <div class="modal-body mx-3">
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}

    <div class="control-group">
        <label class="control-label" for="username">Nombre Usuario</label>
        <div class="controls">
            <input class="form-control" type="text" id="username" name="username"  placeholder="Username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Contraseña</label>
        <div class="controls">
            <input class="form-control" type="password" name="password" id="password" placeholder="Password">
        </div>
  </div><br>
   </div>
   <div class="modal-footer d-flex justify-content-center">
  <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </div>
    </div>
    </form>
