{% extends "base_privada.html" %}
{% load static %}

         {% if user.is_authenticated %}
                  
         {% block imagenperfil %}
                    <img class="img-fluid rounded" src="{{user.foto}}">
         {% endblock imagenperfil %}

        {% block main %}
        <div class="col py-3">
            <div class="block-header">
               
                    <h2>Perfil {{user.first_name}}</h2>

                <small class="text-muted"></small>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card profile">
                            <img class="img-fluid" src="{{user.foto}}" alt="">
                    </div>
                    <div class="card">
                        <div class="header">
                        
                            <h2>Acerca del paciente</h2>
                        </div>
                        <div class="body">
                            <strong>Nombre</strong>
                               <p>{{user.first_name}}</p> 
                            <strong>Occupation</strong>
                               <p>{{user.ocupacion}}</p>    
                            <strong>Email</strong>
                               <p>{{user.correo}}</p>
                            <strong>Telefono</strong>
                               <p>{{user.telefono}}</p>
                            <hr>
                            <strong>Direccion</strong>
                              <address>{{user.direccion}}</address>    
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-8 col-md12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#Resumen">
                                        Resumen
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Historial">
                                        Historial
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="Resumen" class="tab-pane fade show active" role="tabpanel">
                                    <div class="wrap-reset">
                                        <div class="wrap-reset">
                                            <div class="post-list">
                                                <div class="post-box">
                                                        <p>{{user.resumen}}</p>
                                                    <hr>
                                                    <div class="post-box">
                                                        <h4>Reporte general</h4>
                                                        <div class="body p-1-0 p-r-0">
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    <div>Glucosa</div>
                                                                    <div class="progress m-b-20">
                                                                        <div class="progress-bar bg-success progress-bar-striped active"
                                                                            role="progressbar" aria-valuenow="40"
                                                                            aria-valuemin="0" aria-valuemax="100"
                                                                            style="width: {{porcentajes.glucosa}}%"> <span class="sr-only">
                                                                                Complete (success)</span> </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div>Hemograma</div>
                                                                    <div class="progress  m-b-20">
                                                                        <div class="progress-bar bg-info progress-bar-striped active"
                                                                            role="progressbar" aria-valuenow="20"
                                                                            aria-valuemin="0" aria-valuemax="100"
                                                                            style="width: {{porcentajes.hemograma}}%"> <span class="sr-only"></span></div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div>orina</div>
                                                                    <div class="progress  m-b-20">
                                                                        <div class="progress-bar bg-warning progress-bar-striped active"
                                                                            role="progressbar" aria-valuenow="60"
                                                                            aria-valuemin="0" aria-valuemax="100"
                                                                            style="width: {{porcentajes.orina}}%"> <span class="sr-only">
                                                                                Complete (warning)</span> </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div><!--Box-->
                                                    <hr>
                                                    <h4>Educacion</h4>
                                                    <ul class="dis">
                                                      <li>{{user.educacion}}</li>              
                                                    </ul>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Historial">
                                    <div class="timeline-body">
                                        <div class="timeline m-border">
                                            <div class="timeline-item">
                                                <div class="item-content">
                                                    <div class="text-small">Ahora</div>
                                                    <p>Sin Cambios.</p>
                                                </div>
                                            </div>
                                            <div class="timeline-item border-info">
                                                <div class="item-content">
                                                    <div class="text-small">11:30</div>
                                                    <p>chequeo de rutina</p>
                                                </div>
                                            </div>
                                            <div class="timeline-item border-warning border-l">
                                                <div class="item-content">
                                                    <div class="text-small">10:30</div>
                                                    <p>Operacion</p>
                                                </div>
                                            </div>
                                            <div class="timeline-item border-warning">
                                                <div class="item-content">
                                                    <div class="text-small">hace 3 dias</div>
                                                    <p>chequeo de rutina</p>
                                                </div>
                                            </div>
                                            <div class="timeline-item border-danger">
                                                <div class="item-content">
                                                    <div class="text--muted">Viernes , 30 Marzo</div>
                                                    <p>chequeo de rutina</p>
                                                </div>
                                            </div>
                                            <div class="timeline-item border-info">
                                                <div class="item-content">
                                                    <div class="text-small">Lunes, 10 Marzo</div>
                                                    <p>chequeo de rutina</p>
                                                </div>
                                            </div>
                                            <div class="timeline-item border-danger">
                                                <div class="item-content">
                                                    <div class="text-small">Martes, 20 Febrero</div>
                                                    <p>Test de Sangre</p>
                                                </div>
                                            </div>
                                            <div class="timeline-item border-info">
                                                <div class="item-content">
                                                    <div class="text-small">Jueves, 17 Enero</div>
                                                    <p>Ingreso Pasiente N° 80</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
            <!--row-->
    
        </div>
        <!-- Main Col END -->
    
    {% endblock main %}

  {% endif %} 

    {% block footer %}
    <footer class="footer fixed.bottom bg-dark text-center">
        <p class="text-muted">&copy; 2020 Awakelab.</p>
        <p class="text-muted">Grupo Full Stack Python</p>
    </footer>
    {% endblock footer %}

    {% block script %}
        {% comment %} <script src="js/main.js"></script> {% endcomment %}
    {% endblock script %}